In [11]:
import pandas as pd
import numpy as np
import re

In [12]:
# human_df = pd.read_csv('human_text.csv')
# ai_df = pd.read_csv('data/raw/ai_text.csv')

In [13]:
human_df = pd.read_csv("../data/raw/human_text.csv")
ai_df = pd.read_csv('../data/raw/ai_text.csv')

In [14]:
human_df.head()

                                                Text
0  On 24 February 2022, Russia invaded Ukraine, s...
1  In late 2021, Russia massed troops near Ukrain...
2  The Black Mafia Family (BMF) is a drug traffic...
3  The Black Mafia Family under Demetrius Flenory...
4  Linda Jean Burney (born 25 April 1957) is an A...

In [16]:
ai_df.head()

                                                Text
0  Climate change represents one of the most pres...
1  Artificial Intelligence (AI) is reshaping the ...
2  Quantum computing harnesses qubits' superposit...
3  Recommendation systems, powered by collaborati...
4  Advances in Deep Generative Models Generative ...

In [20]:
## Cleaning both the dataset human_text and ai_text
def clean_text(text):
    text = text.lower()
    text = re.sub(r'http\S+|www\S+', '', text)
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

In [21]:
human_df['Text'] = human_df['Text'].apply(clean_text)
ai_df['Text'] = ai_df['Text'].apply(clean_text)

In [22]:
human_df.head()

                                                Text
0  on 24 february 2022, russia invaded ukraine, s...
1  in late 2021, russia massed troops near ukrain...
2  the black mafia family (bmf) is a drug traffic...
3  the black mafia family under demetrius flenory...
4  linda jean burney (born 25 april 1957) is an a...

In [23]:
ai_df.head()

                                                Text
0  climate change represents one of the most pres...
1  artificial intelligence (ai) is reshaping the ...
2  quantum computing harnesses qubits' superposit...
3  recommendation systems, powered by collaborati...
4  advances in deep generative models generative ...

In [10]:
human_df["Text"].str.len().describe()
ai_df["Text"].str.len().describe()

count      14.000000
mean     1066.071429
std       292.630895
min       362.000000
25%      1103.500000
50%      1141.000000
75%      1208.500000
max      1376.000000
Name: Text, dtype: float64

In [28]:
human_df.to_csv("../data/processed/human_text_cleaned.csv", index=False)
ai_df.to_csv("../data/processed/ai_text_cleaned.csv", index=False)